In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [5]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [6]:
n_cols = predictors_norm.shape[1] # number of predictors

In [7]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [8]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [11]:
model = regression_model()
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 2s - loss: 1568.5148
Epoch 2/50
 - 0s - loss: 1536.1869
Epoch 3/50
 - 1s - loss: 1495.6750
Epoch 4/50
 - 0s - loss: 1442.7021
Epoch 5/50
 - 1s - loss: 1366.8101
Epoch 6/50
 - 1s - loss: 1254.6681
Epoch 7/50
 - 1s - loss: 1098.4368
Epoch 8/50
 - 0s - loss: 907.5477
Epoch 9/50
 - 1s - loss: 717.2125
Epoch 10/50
 - 1s - loss: 547.7047
Epoch 11/50
 - 1s - loss: 423.0001
Epoch 12/50
 - 0s - loss: 337.8298
Epoch 13/50
 - 1s - loss: 283.3177
Epoch 14/50
 - 0s - loss: 247.5664
Epoch 15/50
 - 1s - loss: 221.0899
Epoch 16/50
 - 1s - loss: 203.3153
Epoch 17/50
 - 1s - loss: 191.2987
Epoch 18/50
 - 1s - loss: 181.8743
Epoch 19/50
 - 1s - loss: 175.4861
Epoch 20/50
 - 1s - loss: 170.7848
Epoch 21/50
 - 1s - loss: 166.9574
Epoch 22/50
 - 1s - loss: 164.1389
Epoch 23/50
 - 1s - loss: 161.6032
Epoch 24/50
 - 1s - loss: 159.3795
Epoch 25/50
 - 0s - loss: 158.1035
Epoch 26/50
 - 1s - loss: 155.7883
Epoch 27/50
 - 0s - loss: 154.1486
Epoch 28/50
 - 1s - loss: 152.5146
Epoch 29/50
 - 1s - loss: 151.1369
Epoch 30/50
 - 1s - loss: 149.6658
Epoch 31/50
 - 1s - loss: 148.3929
Epoch 32/50
 - 1s - loss: 147.4425
Epoch 33/50
 - 1s - loss: 146.2350
Epoch 34/50
 - 1s - loss: 145.3821
Epoch 35/50
 - 1s - loss: 144.0592
Epoch 36/50
 - 1s - loss: 143.0638
Epoch 37/50
 - 1s - loss: 142.4383
Epoch 38/50
 - 0s - loss: 141.2356
Epoch 39/50
 - 0s - loss: 140.2256
Epoch 40/50
 - 1s - loss: 139.2530
Epoch 41/50
 - 1s - loss: 138.4126
Epoch 42/50
 - 1s - loss: 137.8102
Epoch 43/50
 - 1s - loss: 137.1009
Epoch 44/50
 - 1s - loss: 136.0060
Epoch 45/50
 - 1s - loss: 135.4060
Epoch 46/50
 - 0s - loss: 135.2920
Epoch 47/50
 - 0s - loss: 134.2580
Epoch 48/50
 - 1s - loss: 133.7106
Epoch 49/50
 - 0s - loss: 133.0664
Epoch 50/50
 - 1s - loss: 132.3613

In [12]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 1ms/step

135.28723638343195

In [13]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

135.28724504477736 0.0

In [14]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 103.93329588263552
MSE 2: 120.6604381672387
MSE 3: 96.92906250691337
MSE 4: 100.54170083845318
MSE 5: 83.52047689987232
MSE 6: 63.40234324384276
MSE 7: 59.70068719857719
MSE 8: 40.30892588791338
MSE 9: 39.84362597913032
MSE 10: 40.0124458757419
MSE 11: 38.92070057939943
MSE 12: 34.30134318330141
MSE 13: 38.5568531493153
MSE 14: 40.60323394232198
MSE 15: 32.34917254895454
MSE 16: 27.20740457182949
MSE 17: 34.6008744779914
MSE 18: 32.07957732561722
MSE 19: 31.013652079313704
MSE 20: 31.073402664036426
MSE 21: 29.377970501057153
MSE 22: 27.322057909178504
MSE 23: 27.61378059881019
MSE 24: 25.437329597843505
MSE 25: 27.45419955022127
MSE 26: 28.933068198293544
MSE 27: 25.86876114286651
MSE 28: 27.117121316854234
MSE 29: 32.62252244671571
MSE 30: 27.321113648152274
MSE 31: 25.490618548346955
MSE 32: 23.879701855113204
MSE 33: 23.79082138407192
MSE 34: 26.969847805677496
MSE 35: 26.764025394970545
MSE 36: 33.109030677276905
MSE 37: 21.428036819383937
MSE 38: 28.364594666317444
MSE 39: 28.245506558217663
MSE 40: 24.96940794268858
MSE 41: 29.092363018048236
MSE 42: 23.97015304318524
MSE 43: 24.043204563721098
MSE 44: 29.1273259344996
MSE 45: 25.97291172360911
MSE 46: 25.496928224285828
MSE 47: 26.341287384527014
MSE 48: 26.160368922458883
MSE 49: 26.18391289448661
MSE 50: 27.640674819452478


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 37.91335676876375
Standard Deviation: 22.790326778605444