In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [4]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [5]:
n_cols = predictors_norm.shape[1]

In [6]:
import keras

from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [8]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [12]:
model = regression_model()
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 1s - loss: 1572.4133
Epoch 2/50
 - 1s - loss: 1553.1605
Epoch 3/50
 - 0s - loss: 1533.7620
Epoch 4/50
 - 0s - loss: 1513.4975
Epoch 5/50
 - 0s - loss: 1492.7775
Epoch 6/50
 - 0s - loss: 1471.2760
Epoch 7/50
 - 0s - loss: 1448.5301
Epoch 8/50
 - 0s - loss: 1425.3584
Epoch 9/50
 - 0s - loss: 1400.9952
Epoch 10/50
 - 0s - loss: 1375.5461
Epoch 11/50
 - 0s - loss: 1348.8348
Epoch 12/50
 - 0s - loss: 1321.5163
Epoch 13/50
 - 1s - loss: 1293.3239
Epoch 14/50
 - 0s - loss: 1264.2287
Epoch 15/50
 - 0s - loss: 1234.9864
Epoch 16/50
 - 0s - loss: 1204.6371
Epoch 17/50
 - 0s - loss: 1174.3739
Epoch 18/50
 - 0s - loss: 1143.0012
Epoch 19/50
 - 1s - loss: 1111.3651
Epoch 20/50
 - 0s - loss: 1079.2517
Epoch 21/50
 - 0s - loss: 1047.8695
Epoch 22/50
 - 0s - loss: 1015.1651
Epoch 23/50
 - 0s - loss: 983.0931
Epoch 24/50
 - 1s - loss: 950.5732
Epoch 25/50
 - 0s - loss: 918.5913
Epoch 26/50
 - 0s - loss: 886.5385
Epoch 27/50
 - 0s - loss: 854.8156
Epoch 28/50
 - 0s - loss: 823.5222
Epoch 29/50
 - 1s - loss: 792.7309
Epoch 30/50
 - 0s - loss: 762.3860
Epoch 31/50
 - 1s - loss: 732.2445
Epoch 32/50
 - 0s - loss: 703.4140
Epoch 33/50
 - 1s - loss: 674.1938
Epoch 34/50
 - 0s - loss: 646.6733
Epoch 35/50
 - 0s - loss: 619.2622
Epoch 36/50
 - 0s - loss: 593.4277
Epoch 37/50
 - 0s - loss: 567.4701
Epoch 38/50
 - 0s - loss: 542.6872
Epoch 39/50
 - 0s - loss: 519.1316
Epoch 40/50
 - 0s - loss: 496.5585
Epoch 41/50
 - 1s - loss: 474.5019
Epoch 42/50
 - 0s - loss: 453.3612
Epoch 43/50
 - 0s - loss: 433.0653
Epoch 44/50
 - 0s - loss: 414.1017
Epoch 45/50
 - 0s - loss: 395.9158
Epoch 46/50
 - 0s - loss: 378.4968
Epoch 47/50
 - 0s - loss: 362.3530
Epoch 48/50
 - 0s - loss: 346.9352
Epoch 49/50
 - 0s - loss: 332.2973
Epoch 50/50
 - 0s - loss: 318.7282

In [13]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 843us/step

290.23400681381474

In [15]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

290.2340064055836 0.0

In [16]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 107.27537716862453
MSE 2: 76.6989798437816
MSE 3: 43.511554890851755
MSE 4: 43.92926985854856
MSE 5: 42.392277010821985
MSE 6: 42.99407792322844
MSE 7: 46.68388700022281
MSE 8: 35.184467969974655
MSE 9: 36.985203776930526
MSE 10: 36.13948173893308
MSE 11: 34.34047458241287
MSE 12: 31.89594902112646
MSE 13: 39.07623981117816
MSE 14: 38.88849336198233
MSE 15: 31.838658835895625
MSE 16: 30.128915150960285
MSE 17: 35.79236375629709
MSE 18: 34.51486456664249
MSE 19: 32.19653991279478
MSE 20: 31.83981063990917
MSE 21: 31.348098619084528
MSE 22: 31.08698624546088
MSE 23: 27.788676783490722
MSE 24: 30.266488603017862
MSE 25: 34.0235117137625
MSE 26: 31.904582779770145
MSE 27: 28.493851115402666
MSE 28: 27.770911806223847
MSE 29: 34.82548904418945
MSE 30: 33.56540284882086
MSE 31: 30.2162695147073
MSE 32: 27.564477383511736
MSE 33: 28.629293126967347
MSE 34: 30.901357465577355
MSE 35: 29.813575670557114
MSE 36: 34.693453754807756
MSE 37: 27.220356828572296
MSE 38: 34.60199942480785
MSE 39: 31.219696230101356
MSE 40: 27.173492160044056
MSE 41: 35.38424931992219
MSE 42: 26.387440493191715
MSE 43: 29.023007155236304
MSE 44: 35.7486528563268
MSE 45: 32.571025465684414
MSE 46: 31.059412193915605
MSE 47: 31.760483158444895
MSE 48: 32.72331334086298
MSE 49: 32.87892690368455
MSE 50: 34.15190933128777


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 35.74206513199113
Standard Deviation: 12.730855334034734